@use "fonts.scss";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
a {
  display: inline-block;
  transition: all 0.4s;
  &:hover {
    opacity: 0.7;
  }
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #de002b;
  width: 5px;
}
input,
button,
textarea {
  font-family: inherit;
  outline: none;
  border: none;
  background: transparent;
}
svg {
  transition: all 0.4s;
}
::-webkit-scrollbar-track {
  background-color: #dfe3ee;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #fff;
  height: 5px;
  border-radius: 10px;
}
html,
body {
  font-family: "SF Pro Display", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  overflow-x: hidden;
}
ul, li{
    list-style: none;
}
[class*="__container"] {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

[class*="__button"] {
  transition: all 0.4s;
  &:hover {
    opacity: 0.7;
  }
}

.main_wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}