@font-face {
  font-family: "SF Pro Display";
  src: url("/temple/fonts/SF-Pro-Display-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/temple/fonts/SF-Pro-Display-Medium.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/temple/fonts/SF-Pro-Display-Bold.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/temple/fonts/SF-Pro-Display-RegularItalic.otf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
