.footer {
  margin-top: auto;
  @media (max-width: 1050px) {
    margin-bottom: 80px;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    border-top: 1px solid #e2e5f2;
    padding-top: 30px;
    justify-items: end;
    gap: 10px;
    @media (max-width: 900px) {
      grid-template-columns: repeat(4, 1fr);
      justify-items: start;
    }
    @media (max-width: 730px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 400px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__logo {
    > img {
      height: 40px;
    }
    p {
      max-width: 256px;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.09px;
      text-align: left;
      color: #8e95a6;
      margin-bottom: 25px;
      margin-top: 20px;
    }
  }
  &__socials {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    a {
      transition: all 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__menu {
    max-width: 180px;
    h4 {
      font-size: 18px;
      font-weight: 600;
      color: #16161f;
      margin-bottom: 10px;
    }
    ul {
      gap: 10px;
      display: grid;
    }
    a {
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      color: #333;
      transition: all 0.4s;
      line-height: 19.09px;
      &:hover {
        color: #cc222e;
      }
    }
    &__numbers {
      white-space: nowrap;
    }
    .footer__menu__number {
      font-size: 16px;
      color: #cc222e;
      font-weight: 400;
      transition: all 0.4s;
      display: block;
      &:hover {
        color: #000;
      }
    }
  }

  &__bottom {
    p {
      text-align: center;
      padding: 30px 0;
      font-size: 16px;
      font-weight: 400;
      color: #8e95a6;
    }
  }
}
